@model IEnumerable<ToDo.Web.ViewModels.Messages.MessageViewModel>
@{
    ViewData["Title"] = "All messages";
}

<a class="btn btn-primary" asp-area="Messages" asp-controller="Message" asp-action="Create">Create</a>
<br />

<div class="border d-flex flex-wrap justify-content-between p-3 mt-3">
    @foreach (var item in Model)
    {

        <div class="border p-3 w-25 position-relative">
            @if (!item.IsDeleted)
            {
                <a class="position-absolute delete-icon" asp-area="Messages" asp-controller="Message" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="text-danger far fa-trash-alt"></i>
                </a>
            }
            <div class="">Title: @item.Title</div>
            <div class="">Description: @item.Content</div>
            <div class="">Sent from: @item.SenderUserName</div>
            <div class="">Sent to: @item.ReceiverUserName</div>
            <div>Sent at: <time datetime="@item.CreatedOn.ToString("O")"></time></div>

            @if (item.IsDeleted)
            {
                <div>The message was deleted</div>
            }
        </div>
    }
</div>
