@model IEnumerable<ToDo.Web.ViewModels.Messages.MessageViewModel>
@{
    ViewData["Title"] = "Deleted messages";
}

<a class="btn btn-success mb-3" asp-area="Messages" asp-controller="Message" asp-action="Create">Create</a>
<div class="row">
    <div class="col-md-2">
        <partial name="_MenuPartial" />
    </div>
    <div class="border d-flex flex-wrap justify-content-around p-3 col-md-10 messageDiv">
        @foreach (var item in Model)
        {
            <div class="border p-3 pr-4 message-width position-relative mb-2">
                <a class="position-absolute delete-icon" asp-area="Messages" asp-controller="Message" asp-action="Restore" asp-route-id="@item.Id">
                    <i class="fas fa-trash-restore text-success"></i>
                </a>
                <a class="position-absolute delete-icon delete-icon-message" asp-area="Messages" asp-controller="Message" asp-action="HardDeleteMessage" asp-route-id="@item.Id">
                    <i class="text-danger far fa-trash-alt"></i>
                </a>
                <div class="">Title: @item.Title</div>
                <div class="">Description: @item.Content</div>
                <div class="">Sent from: @item.SenderUserName</div>
                <div class="">Sent to: @item.ReceiverUserName</div>
                <div>Sent at: <time datetime="@item.CreatedOn.ToString("O")"></time></div>
                <div class="">Deleted on: <time datetime="@item.DeletedOn.ToString("O")"></time></div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/functions/deleteMessagesAsync.js" asp-append-version="true"></script>
}
