@model IEnumerable<NoteViewModel>
@{
    ViewData["Title"] = "All Notes";
}
<div>
    <a class="btn btn-success mb-3" asp-action="Create">Create a new note</a>
    <a class="btn btn-info mb-3" asp-action="Index">All notes</a>
    <a class="btn btn-secondary mb-3" asp-action="GetDeletedNotes">Deleted notes</a>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-3" style="width: 18rem; height: 420px">
            <img class="card-img-top custom-note-pic" src="@item.ImageUrl" alt="@item.CategoryName image not found!">
            <div class="card-body position-relative">
                <h5 class="card-title">@item.Title</h5>
                <a class="position-absolute restore-icon-note" asp-area="Notes" asp-controller="Note" asp-action="Restore" asp-route-id="@item.Id">
                    <i class="fas fa-trash-restore text-success"></i>
                </a>
                <a class="position-absolute hard-delete-icon-note" asp-area="Notes" asp-controller="Note" asp-action="HardDelete" asp-route-id="@item.Id">
                    <i class="text-danger far fa-trash-alt"></i>
                </a>
                <p class="card-text" style="height: 4rem;">@item.Description</p>
                <div class="">Created on: @item.CreatedOn</div>
                <div class="">The note has expired or deleted after: @item.ExpiredOn.Date.ToString("d")</div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/functions/deleteNotesAsync.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/functions/restoreNotesAsync.js" asp-append-version="true"></script>
}

