@model IEnumerable<NoteViewModel>
@{
    ViewData["Title"] = "Index";
}
<div>
    <a class="btn btn-success mb-3" asp-action="Create">Create a new note</a>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-3" style="width: 18rem; height: 420px">
            <img class="card-img-top custom-note-pic" src="@item.ImageUrl" alt="@item.CategoryName image not found!">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text" style="height: 100px">@item.Description</p>
                <div class="">Created on: @item.CreatedOn</div>
            </div>
        </div>
    }
</div>


